.chat {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.input {
    width: 80%;
}
.button-position {
    position: absolute;
    bottom: 8px;
    right: 0px;
}

.m-l{
    margin-left: 30%;
}

.m-r {
    margin-right: 30%;
    text-align: center;
}


.p-1 {
    padding: 1px;
}

.mdl-chip {
    height: auto;
    line-height: normal;
}